.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  min-width: 100px;
  max-height: 400px;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #f0c14d;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
}

.product__info {
  height: 100px;
  max-height: 120px;
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

.info__title {
  max-height: 60%;
  overflow: hidden;
}
